<h2>PERFIL DEL USUARIO</h2>
{{#if user}}
    <p>Bienvenido, {{user.first_name}} {{user.last_name}}!</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
{{else}}
    <p>El usuario no esta logueado</p>
{{/if}}